{%extends 'base.html'%}

{% block content %}
<h2>Upcoming Events</h2>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if events %}
    <ul>
        {% for event in events %}
            <li>
                <h3>{{ event.title }}</h3>
                <p>Date: {{ event.date }}</p>
                <p>Location: {{ event.location }}</p>
                <p>Description: {{ event.description }}</p>
                <p>Price: ${{ event.price }}</p>
                

                {% if request.user.is_authenticated or request.user.is_superuser%}
                    <a href="{% url 'purchase_ticket' event.id %}">Purchase Tickets</a><br>
                    
                    {% if request.user.id == event.author.id or request.user.is_superuser %}
                        <a href="{% url 'remove_event' event.id %}">Remove Event</a><br>
                        <a href="{% url 'edit_event' event.id %}">Edit Event</a><br>
                    {% endif %}
                    
                    <a href="{% url 'add_event' %}">Add New Event</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No events available at the moment. Check back later!</p>
    {% if request.user.is_authenticated or request.user.is_superuser %}
        <a href="{% url 'add_event' %}">Add New Event</a>
    {% endif %}
{% endif %}
{% endblock content %}